[workspace]
members = [
    "programs/streak"
]
resolver = "2"

[profile.release]
overflow-checks = true
lto = true
codegen-units = 1
opt-level = "z"

[profile.release.build-override]
opt-level = 3
incremental = false
codegen-units = 1
